In [1]:
import pandas as pd
import numpy as np

In [6]:
data = pd.read_csv('data.csv')
data.index = np.arange(1, len(data) + 1)
data.head()

                                          image_name   x1   x2   y1   y2
1             JPEG_20160517_140621_1000651031832.png   78  446   83  422
2                   1473231510890DeeplearnS11456.png   73  567  146  351
3                         1476881557883Untitled1.png   13  561  124  362
4  1474264827890cobalt-beyond-the-sea-maxi-dress3...    0  640  140  330
5             JPEG_20160711_113321_1000235741992.png  217  442   65  465

In [9]:
bob = data.drop(['image_name'], axis = 1)
bob.head()

    x1   x2   y1   y2
1   78  446   83  422
2   73  567  146  351
3   13  561  124  362
4    0  640  140  330
5  217  442   65  465

In [8]:
bob.to_csv('images.txt', header=None, index=True, sep=' ', mode='a')